spring:
  application:
    name: authentication-service
  config:
    import:
      - optional:configserver:http://localhost:8888
  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: "*"

#logging:
#  pattern:
#    level: '%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]'

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui/index.html

server:
  port: 8080
